@font-face {
  font-family: 'HarryP';
  src: url('../fonts/HARRYP.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'HarryP';
}


body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f8f8f8;
}
/* body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

nav{
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 34vw;
}
h1{
    color: #f5f5dc;
    font-size: 5rem;
}

.name{
    font-size: 1.2vw;
}
#dropdownbtn{
    width: 12vw;
    height: 4vw;
    font-size: 2vw;
    background-color: #f5f5dc;
    margin-left: 7vw;
    margin-top: 0.5vw;
}

#load-more{
    width: 14vw;
    height: 4vw;
    font-size: 2vw;
    background-color: #f5f5dc;
    border-radius: 10vw;
    display: block;
    margin: 0 auto;
    margin-top: 3vw;
}

#load-more:hover{
    background-color: #bca36a;
}
#dropdown-content{
    display: none;
    margin-left: 7vw;

}

ul{
    list-style-type: none;
    width: 12vw;

}

li{
    margin: 1vw;
    font-size: 1.5vw;
    color: #f5f5dc;

}

li:hover{
    background-color: rgba(153, 153, 153,0.5);
}

.dropdown:hover #dropdown-content{
    display: block;
}

#CardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24%,1fr));
    column-gap:clamp(8px,1vw,10px);
    /* row-gap: clamp(8px,1vw,10px); */
}

.card{
    width: 11.1vw;
    height: 14.45vw;
    text-align: center;
    margin: 4.1vw;
    margin-top: 3.86vw;
    padding: 0.5vw;
    border-radius: 0;
    transform: scale(1.02);
    box-shadow: 0 0 15px rgb(66, 52, 32);
    transition: all 0.3s ease-in-out;

}

.cardFrame{
  background-image: url('../images/frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1vw;
  display: inline-block;
  margin: 1vw;
  box-sizing: border-box;
  border-radius: 2vw;

}

.dropdown{
    width: 12vw;
    display:block;
    margin: 0 auto;
}
.card-content{
    font-size: 1.1vw;
    width: 9vw;
    height: 3.8vw;
    padding-top: 0.4vw;
    box-shadow: 0 0 2vw black;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

.card img{
    width:9vw;
    height: 9.5vw;
    transform: scale(1.02);
    box-shadow: 0 0 15px black;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5vw;


}

.cardFrame:hover{
    transform: scale(1.25);
    box-shadow: 0 0 15px gold;
    transition: all 0.4s ease-in-out;

}


.card[house="Gryffindor"] {
  background-color: rgb(77, 4, 4);
  color: #FFC500;
}

.card[house="Slytherin"] {
  background-color: rgba(26, 71, 42);
  color: #C0C0C0;
}

.card[house="Ravenclaw"] {
  background-color: rgba(14, 26, 64);
  color: #946B2D; 
}

.card[house="Hufflepuff"] {
  background-color: rgba(181, 159, 59);
  color: #1A1A1A;
}

.card[house="none"] {
  background-color: rgba(153, 153, 153);
  color: white;
}

#footerDiv{
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    padding: 0 5vw; 
}

@media(max-width:600px){
    #CardContainer {
        grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
    }

    .cardFrame {
        width: 90vw;
        height: 120vw; 
        margin: 1vw auto;
    }  
    .card{
        width: 45vw;
        height: 59vw;
        margin: 20vw;
        margin-top: 28vw;
    }
    .card img {
        width: 35vw;
        height: 40vw;
    }
    .card-content{
        font-size: 5vw;
    }
    .name{
        font-size: 5vw;
    }
    #dropdownbtn{
    width: 40vw;
    height: 10vw;
    }
    .dropdown{
    width: 40vw;
    display:block;
    margin: 0 auto;
    }
    #dropdown-content{
    display: none;

    }

    li{
        font-size: 5vw;
        }

    #load-more{
    width: 30vw;
    height: 10vw;
    font-size: 5vw;
    display: block;
    margin: 0 auto;
    }   

    #logo{
        width: 40vw;
        height: 15vw;
    }
    footer p{
        font-size: 4vw;
    }


  
}

#modal{
    display:none; 
    position:fixed; 
    background:white; 
    border:1px solid #ccc; 
    padding:20px;
    width: 40vw;
    height: 42vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#closeModal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
}
#modal img{
    width: 13vw;
    height: 16.2vw;
    transform: scale(1.02) translate(-10px, -15px);
    
}
#modal .card-content{
    font-size: 1.1vw;
    width: 40vw;
    height: auto;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0vw black;
    transform: scale(1.02) translate(-210px, 30px);
    font-size: 19px;
}


#modal .cardFrame:hover{
    transform: none;
    box-shadow: none;
    transition: none;

}
#modal .cardFrame{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;}

#modal .name{
    font-size: 2.5vw;
}


/* #modal .card[house="Gryffindor"] {
  background-color: rgb(77, 4, 4);
  color: #FFC500;
}

#modal .card[house="Slytherin"] {
  background-color: rgba(26, 71, 42);
  color: #C0C0C0;
}

#modal .card[house="Ravenclaw"] {
  background-color: rgba(14, 26, 64);
  color: #946B2D; 
}

#modal .card[house="Hufflepuff"] {
  background-color: rgba(181, 159, 59);
  color: #1A1A1A;
}

#modal .card[house="none"] {
  background-color: rgba(153, 153, 153);
  color: white;
} */

